{% extends 'loja/base.html' %}

{% block title %}Pedidos{% endblock %}

{% block content %}
    <h1>Pedidos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID do Pedido</th>
                <th>Cliente</th>
                <th>Data do Pedido</th>
                <th>Total</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.id }}</td>
                <td>{{ pedido.cliente.nome }}</td>
                <td>{{ pedido.data_pedido }}</td>
                <td>R$ {{ pedido.total }}</td>
                <td>
                    <a href="{% url 'detalhes_pedido' pedido.id %}" class="btn btn-info">Ver Detalhes</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
